<div class="container">
  <table class="table table-bordered table-striped" style="font-size: 1.6em;">
      <thead>
        <tr class="bg-primary" style="color:white;">
          <th>Code</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Age</th>
          <th>Sexe</th>
          <th>Telephone</th>
          <th>Ville</th>
          <!-- <th>Niveau Cas-contact</th> -->

        </tr>
        <tr>
          <th><input (keyup)="onKey($event)" class="form-control form-control-sm" type="text" placeholder="rechercher"></th>
          <th><input (keyup)="onKey($event)" class="form-control form-control-sm" type="text" placeholder="rechercher"></th>
          <th><input (keyup)="onKey($event)" class="form-control form-control-sm" type="text" placeholder="rechercher"></th>
          <th><input (keyup)="onKey($event)" class="form-control form-control-sm" type="text" placeholder="rechercher"></th>
          <th><input (keyup)="onKey($event)" class="form-control form-control-sm" type="text" placeholder="rechercher"></th>
          <th><input (keyup)="onKey($event)" class="form-control form-control-sm" type="text" placeholder="rechercher"></th>
          <th><input (keyup)="onKey($event)" class="form-control form-control-sm" type="text" placeholder="rechercher"></th>
        </tr>

      </thead>
      <tbody *ngIf="this.datasChange()">
        <tr *ngFor="let item of this.datass" (click)="this.modno(item)" >
          <td [ngStyle]="{'background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{item.code}}</td>
          <td [ngStyle]="{'background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{item.nom}}</td>
          <td [ngStyle]="{'background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{item.prenom}}</td>
          <td [ngStyle]="{'background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{truncate(this.age(item.naissance))}}</td>
          <td [ngStyle]="{'text-transform':' uppercase','background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{item.sexe}}</td>
          <td [ngStyle]="{'background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{item.telephone}}</td>
          <td [ngStyle]="{'background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{item.ville}}</td>
          <!-- <td [ngStyle]="{'background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{item.niveaucascontact}}</td> -->
        </tr>

      </tbody>
    </table>

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-9">
          <div class="containemodal"  *ngIf="this.mod==true">
              <div class="row" style="float: right;right: 3rem;">
                <button type="button" class="btn btn-secondary" (click)="modok()" style="font-size: 1.5em;">X</button>
              </div>

              <div class="row" >
                  <div class="col-12" style="max-height:70rem; overflow-y:auto">
                        <div class="row">
                            <div class="col-12" style="max-width: 95%; margin-left: 2%;">
                              <h2 class="text-center" style="margin:1rem;">ETAT CIVIL</h2>
                              <div class="row">
                                <div class="col-12">
                                  <table class="table table-bordered" style="overflow:auto; font-size: 1.2em;" >
                                      <thead>
                                        <tr class="bg-primary" style="color:white;">
                                          <th>Q1 : Code</th>
                                          <th>Q2 : Nom</th>
                                          <th>Q3 : Prenom</th>
                                          <th>Q4 : Age</th>
                                          <th>Q5 : Sexe</th>
                                          <th>Grossesse</th>
                                          <th>Q6 : Telephone</th>
                                          <th>Q7 : Region</th>
                                          <th>Q8 : Ville</th>
                                          <th>Q9 : Quartier</th>
                                          <th>Q10 : district</th>
                                          <th>Q11 : Statut matrimonial</th>
                                          <th>Q12 : Nombre d'enfant</th>
                                          <th>Q13 : Nbr personnes chez vous</th>
                                          <th>Q14 : Nbr personnes chambre</th>
                                          <th>Q15 : Travallez-vous</th>
                                          <th>Q16 : Domaine travail</th>
                                          <th>Q17 : Etes-vous scolarisé</th>
                                          <th>Niveau Cas-contact</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr>
                                          <td>{{this.bigData[0].datas[0].code}}</td>
                                          <td>{{this.bigData[0].datas[0].nom}}</td>
                                          <td>{{this.bigData[0].datas[0].prenom}}</td>
                                          <td>{{this.bigData[0].datas[0].age}}</td>
                                          <td>{{this.bigData[0].datas[0].sexe}}</td>
                                          <td>{{this.bigData[0].datas[0].grossesse}}</td>
                                          <td>{{this.bigData[0].datas[0].telephone}}</td>
                                          <td>{{this.bigData[0].datas[0].region}}</td>
                                          <td>{{this.bigData[0].datas[0].ville}}</td>
                                          <td>{{this.bigData[0].datas[0].quartier}}</td>
                                          <th>{{this.bigData[0].datas[0].district}}</th>
                                          <td>{{this.bigData[0].datas[0].matrimanial}}</td>
                                          <td>{{this.bigData[0].datas[0].nbrEnfants}}</td>
                                          <td>{{this.bigData[0].datas[0].nbrPersChezVous}}</td>
                                          <td>{{this.bigData[0].datas[0].nbrPersChambre}}</td>
                                          <td>{{this.bigData[0].datas[0].TravallezVous}}</td>
                                          <td>{{this.bigData[0].datas[0].domain}}</td>
                                          <td>{{this.bigData[0].datas[0].scolarise}}</td>
                                          <td>{{this.bigData[0].datas[0].niveauCasContact}}</td>
                                        </tr>

                                      </tbody>
                                    </table>
                                </div>
                              </div>
                              <h2 class="text-center" style="margin:1rem;">ENQUETE DU CAS-CONTACT</h2>
                              <div class="row">
                                <div class="col-12">
                                  <table class="table table-bordered" style="overflow:auto; font-size: 1.2em;">
                                      <thead>
                                        <tr class="bg-primary">
                                          <th>Code</th>
                                          <th>Q1 : Date Contact covid+</th>
                                          <th>Q2 : Lien avec covid+</th>
                                          <th>Q3 : Date contact autorités sanitaires</th>
                                          <th>Q4 : Nbr personnes contact</th>
                                          <th>Q5 : Lieux fréquentés</th>
                                          <th>Q6 : Symptômes ressentis</th>
                                          <th>Q7 : Autre(s) maladie(s)</th>
                                          <th>Q8 : Médicament(s)</th>

                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr>
                                          <td>{{this.bigData[0].datas[0].code}}</td>
                                          <td>{{this.bigData[0].datas[0].dateContact}}</td>
                                          <td>{{this.bigData[0].datas[0].lienAvecCove}}</td>
                                          <td>{{this.bigData[0].datas[0].dateContactautorite}}</td>
                                          <td>{{this.bigData[0].datas[0].contacter}}</td>
                                          <td>{{this.bigData[0].datas[0].lieuxFrenquenter}}</td>
                                          <td>{{this.bigData[0].datas[0].symtom}}</td>
                                          <td>{{this.bigData[0].datas[0].autreMaladie}}</td>
                                          <td>{{this.bigData[0].datas[0].medicaments}}</td>
                                        </tr>

                                      </tbody>
                                    </table>
                                </div>
                              </div>
                            </div>
                        </div>
                        <h2 class="text-center" style="margin:1rem;">SURVEILLANCE BI-QUOTIDIENNE DES SYMPTÔMES</h2>
                        <div class="row bg-secondary" style="border: 1px solid black; margin: 1rem;padding-bottom: 2rem;padding-top: 2rem;" *ngFor="let jour of this.bigData">
                            <div class="col-1 align-middle" style="padding-top: 2%; color: black; font-size: 1.8em;">
                                <div class="row">
                                    <div class="col-12 bg-white " >
                                        jour {{jour.jour}}
                                        <h3>surveillance</h3>
                                        <span style="font-size: 0.5em;">date : {{jour.date}}</span>

                                    </div>
                                </div>
                                <div class="row" style="margin-top: 0.5rem;">
                                    <div class="col-12 bg-white">
                                        jour {{jour.jour + jour.joursAvant}}
                                        <h3>contact</h3>
                                    </div>
                                </div>


                            </div>
                            <div class="col-11" style="border: 1px solid black; padding-bottom: 2rem;  background-color: white;">
                              <div class="row">
                                <div class="col-12">
                                  <table class="table table-bordered" style="overflow:auto; font-size: 1.2em; margin-top:1rem">
                                      <thead>
                                        <tr class="bg-primary">
                                          <th>Heures</th>
                                          <th>Code</th>
                                          <th>Q1 : Temperature</th>
                                          <th>Q2 :Toux</th>
                                          <th>Q3 : Difficulté à respirer </th>
                                          <th>Q4 : Mal de gorge </th>
                                          <th>Q5 : Nez bouché </th>
                                          <th>Q6 : Conjonctivite </th>
                                          <th>Q7 : Maux de tête </th>
                                          <th>Q8 : Douleurs musculaires et/ou articulaires</th>
                                          <th>Q9 : Une fatigue intense</th>
                                          <th>Q10 : Vomissements</th>
                                          <th>Q11 : Diarrhée </th>
                                          <th>Q12 : Perte Odorat </th>
                                          <th>Q13 : Perte goût</th>
                                          <th>Q14 : Autre(s) signe(s)</th>
                                          <th>Q15 : Symptôme(s) entourage(s) ?</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr *ngFor="let item of jour.datas" >
                                          <td class="bg-secondary" style="color:white;">{{item.heur}}</td>
                                          <td>{{item.code}}</td>
                                          <td [ngStyle]="{'background-color':((item.temperature > 37.7) || (item.temperature < 35))  ? 'red' : 'white' }">{{item.temperature}}</td>
                                          <td [ngStyle]="{'background-color':item.toux === 'oui' ? 'red' : 'white' }">{{item.toux}}</td>
                                          <td [ngStyle]="{'background-color':item.difresp === 'oui' ? 'red' : 'white' }">{{item.difresp}}</td>
                                          <td [ngStyle]="{'background-color':item.Malgorge === 'oui' ? 'red' : 'white' }">{{item.Malgorge}}</td>
                                          <td [ngStyle]="{'background-color':item.nezbouche === 'oui' ? 'red' : 'white' }">{{item.nezbouche}}</td>
                                          <td [ngStyle]="{'background-color':item.conjonctivite === 'oui' ? 'red' : 'white' }">{{item.conjonctivite}}</td>
                                          <td [ngStyle]="{'background-color':item.mauxTete === 'oui' ? 'red' : 'white' }">{{item.mauxTete}}</td>
                                          <td [ngStyle]="{'background-color':item.douleurmusculaire === 'oui' ? 'red' : 'white' }">{{item.douleurmusculaire}}</td>
                                          <td [ngStyle]="{'background-color':item.fatige === 'oui' ? 'red' : 'white' }">{{item.fatige}}</td>
                                          <td [ngStyle]="{'background-color':item.vomi === 'oui' ? 'red' : 'white' }">{{item.vomi}}</td>
                                          <td [ngStyle]="{'background-color':item.diarrhee === 'oui' ? 'red' : 'white' }">{{item.diarrhee}}</td>
                                          <td [ngStyle]="{'background-color':item.perteOdora === 'oui' ? 'red' : 'white' }">{{item.perteOdora}}</td>
                                          <td [ngStyle]="{'background-color':item.perteGout === 'oui' ? 'red' : 'white' }">{{item.perteGout}}</td>
                                          <td [ngStyle]="{'background-color':item.autreSigne === 'oui' ? 'red' : 'white' }">{{item.autreSigne}}</td>
                                          <td [ngStyle]="{'background-color':item.syntomesEntourage === 'oui' ? 'red' : 'white' }">{{item.syntomesEntourage}}</td>
                                        </tr>

                                      </tbody>
                                    </table>
                                </div>
                              </div>
                            </div>
                        </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-secondary" (click)="modok()">OK</button>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="loginmodale" *ngIf="this.login==false">
      <div class="row">
          <div class="col-12">
              <img src="../../../assets/images/assistances.png" alt="" style="min-width: 100%;max-width: 100%;">
          </div>
      </div>
       <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4 blockLogin">
              <form>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Identifient :</label>
                  <div class="col-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Identifient">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Mot de passe :</label>
                  <div class="col-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Mot de passe">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-10 text-center" >
                    <button type="button" class="btn btn-lg btn-primary" (click)="this.Llogin()">Valider</button>
                  </div>
                </div>
                </form>
            </div>
       </div>
       <div class="row" >
         <div class="col-5">

         </div>
         <div class="col-2" >
            <img src="../../../assets/images/ImglogoAdmin.png" alt="" style="min-width: 100%;max-width: 100%;margin-top:2rem;">
         </div>
       </div>
    </div>
</div>
